name: Main

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: tenki-standard-autoscale
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Build Go interop helper
        run: cd mux/testutil/go-interop && go build -o interop .
      - name: Setup Environment
        run: |
          rustup update stable
          rustup toolchain install nightly
          rustup target add wasm32-unknown-unknown
          rustup component add rustfmt --toolchain nightly
      - name: Build for wasm
        # Check if the library target compiles. This will still allow for using
        # non-wasm functionality in tests and benchmarks but guarantees that
        # consumers of the library can use it to generate wasm bindings.
        run: cargo check --target wasm32-unknown-unknown --lib --package sia_sdk
      - name: Rustfmt
        run: cargo +nightly fmt --all -- --check
      - name: Clippy
        run: cargo clippy -- -D warnings
      - name: Build docs
        run: cargo doc --all-features --no-deps
        env:
          RUSTDOCFLAGS: "-D warnings"
      - name: Build benches
        run: cargo build --benches --features=mock
      - name: Test
        run: cargo test
